body {
  margin: 0;
  padding: 40px 40px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: white;
}

#black {
  color: black;
}

#button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;    
}

.container {
  width: 500px;
  height: 100px;
}

.moji {
  font-size: 8em;
  text-align: center;
}

input {
  width: 100%;
  margin: 0 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

span {
  font-weight: bold;
  color: #5fcf80;
  text-align: center;
}

#red {
  color: tomato;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 20px; 
}